SERVER_IP=192.168.0.50
FRONTEND_PORT=3080
BACKEND_PORT=8030

POSTGRES_DB=vfe_deviz
POSTGRES_USER=vfe_deviz
POSTGRES_PASSWORD=SCHIMBA_PAROLA_DB

DATABASE_URL=postgresql+psycopg://vfe_deviz:SCHIMBA_PAROLA_DB@postgres:5432/vfe_deviz
FRONTEND_ORIGIN=http://192.168.0.50:3080
NEXT_PUBLIC_API_URL=http://192.168.0.50:8030

SESSION_DURATION_DAYS=7
DEFAULT_LOCALE=ro-RO
DEFAULT_CURRENCY=RON
DEFAULT_VAT_RATE=21
DEFAULT_LOCALITY=Ceahlau
DEFAULT_COUNTY=Neamt
